<nav class="header">

    <a routerLink="/home" class="logo">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/51/IBM_logo.svg/960px-IBM_logo.svg.png"
            alt="IBM Logo" />
    </a>

    <div class="menu">
        <a routerLink="/login" routerLinkActive="active">Login</a>
        <a routerLink="/register" routerLinkActive="active">Register</a>
        <a routerLink="/profile" routerLinkActive="active">Profile</a>
        <a routerLink="/user-list" routerLinkActive="active">Users</a>
    </div>

</nav>
<hr />


<!-- <nav class="header">
    <a routerLink="/home" class="logo" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/51/IBM_logo.svg/960px-IBM_logo.svg.png"
            alt="IBM Logo" />
    </a>

    <div class="menu">
        <a routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>

        <a routerLink="/login" routerLinkActive="active">Login</a>
        <a routerLink="/register" routerLinkActive="active">Register</a>
        <a routerLink="/profile" routerLinkActive="active">Profile</a>
        <a routerLink="/user-list" routerLinkActive="active">Users</a>
    </div>
</nav>
<hr /> -->


<!-- <nav>
    <a routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
    <a routerLink="/login" routerLinkActive="active">Login</a>
    <a routerLink="/register" routerLinkActive="active">Register</a>
    <a routerLink="/profile" routerLinkActive="active">Profile</a>
    <a routerLink="/user-list" routerLinkActive="active">Users</a>
</nav>
<hr /> -->


<!-- <div>
    <nav>
        <a routerLink="/home">Home</a> |
        <a routerLink="/login">Login</a> |
        <a routerLink="/register">Register</a> |
        <a routerLink="/profile">Profile</a> |
        <a routerLink="/user-list">Users</a>
    </nav>
    <hr />
</div> -->