<div>
    <h4>Parent Component</h4>

    <p>Parent data in parent component:{{ parentDataInParentComponent }}</p>

    <p>Child data in parent component: {{ childDataInParentComponent }}</p>

    <!-- <app-child [parentDataInChildComponent]="parentDataInParentComponent" ></app-child> -->

    <!-- <app-child [parentDataInChildComponent]="parentDataInParentComponent" [passHere]="thisData" ></app-child> -->

    <app-child [parentDataInChildComponent]="parentDataInParentComponent" [passHere]="thisData"
        (pass)="getDataFromChild($event)">></app-child>


</div>

<!-- 
Flow - 
from child template (button-click)
to child component - function call, event emitted 
to parent template - 'pass' calls parent function with this event object 
to parent component - function assigns received data to local variable 
to parent template - new data is rendered 
 
 -->
